.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  /*background: rgb(152, 189, 214); */
  background-size: 260%;
  background-repeat: no-repeat;
  background-image: url('../src/pages/Profile/clouds.jpeg');
}

* {
   font-family: 'Helvetica';
  font-weight: 300;
}


h1 {
  font-family: Bungee Shade;
  margin-top: 50px;
  font-size: 100px;
  color: white;
  text-transform: uppercase;
}

h2 {
  margin-top: 40px;
  font-size: 60px;
  color:white;
  text-transform: uppercase;
}

h3 {
  color:greenyellow;
}

h5 {
  color:lightcoral;
}

button {
 margin: 30px;
 font-size: 18px;
 height: 65px;
 width: 250px;
 border-radius: 10px;
 border: none;
 box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
 background: rgb(141,217,252);
  cursor: pointer;
}

.red {
  background: red;
}

.nav-link {
  color: white; 
}

h4{
  color:red;
}